<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン成功</title>
    <link rel="stylesheet" href="{{ url_for('auth_blueprint.static', filename='style2.css') }}">
</head>
<body>
    <h2>ログイン成功</h2>
        <a href="{{ url_for('data_blueprint.symptom')}}">データ入力</a>
        <a href="{{ url_for('edit_blueprint.index')}}">データ編集</a>
        <a href="{{ url_for('auth_blueprint.logout')}}">ログアウト</a>
        <a href="{{ url_for('auth_blueprint.reset_password')}}">パスワードを忘れた場合</a>
</body>
</html>
