<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>写真の確認</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>写真の確認</h1>
    </header>
    <main>
        <section>
            <h2>右手の手背の写真</h2>
            <img id="right_hand_preview" src="{{ url_for('static', filename='data/pictures/right_hand.jpg') }}" alt="右手の写真プレビュー" style="max-width: 100%;"><br>
        </section>
        <section>
            <h2>左手の手背の写真</h2>
            <img id="left_hand_preview" src="{{ url_for('static', filename='data/pictures/left_hand.jpg') }}" alt="左手の写真プレビュー" style="max-width: 100%;"><br>
        </section>
        <section>
            <form action="{{ url_for('data_blueprint.submit_photos') }}" method="post">
                <button type="submit">写真をアップロードする</button>
            </form>
        </section>
    </main>
</body>
</html>
