<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">
    <title>Handpics</title>
</head>
<body>
    <h1>手の甲の写真を撮影します。</h1>
    <h2>撮影方法</h2>
    <p>ご使用のスマートフォンのカメラを起動し、あなたの手の甲をご自分で撮影してください。<br>
        図のように、カメラを手の甲に向けて撮影してください。</p><br>
    <h2>写真撮影とアップロード</h2>
    <p>これから写真を撮影する場合、以下のボタンをクリックして、写真撮影を開始してください。</p>
    <p>右手の写真：</p>
    <form action="/handpicture" method="post" enctype="multipart/form-data">
        <p>右手の写真：</p>
        <input type="file" name="right_hand" accept="image/*" capture="environment">
        <p>左手の写真：</p>
        <input type="file" name="left_hand" accept="image/*" capture="environment">
        <input type="submit" value="アップロード">
    </form>
    <!--<form action="/pictures/image_righthand" method="post" enctype="multipart/form-data">
        <input type="file" name="photo" accept="image/*" capture="enviroment">
        <input type="submit" value="アップロード">
    </form>
    <p>左手の写真：</p>
    <form action="/pictures/image_lefthand" method="post" enctype="multipart/form-data">
        <input type="file" name="photo" accept="image/*" capture="enviroment">
        <input type="submit" value="アップロード">-->
    </form>
    <h2>撮影のポイント</h2>
    <p>フラッシュを使用しないで、自然光で撮影してください。<br>
        逆光にならないように撮影してください。<br>
        できるだけ手の甲を大きく、正面に捉えて撮影してください。</p><br>
    <h2>撮影例</h2>
    <img src="{{ url_for('static', filename='images/hand.jpg') }}" alt="手の甲の写真撮影方法">
    <h2>注意事項</h2>
    <p>撮影した写真は、手の甲の状態を確認するために使用します。<br>
        撮影した写真は、個人情報保護法に基づき、厳重に管理いたします。<br>
        撮影した写真を、第三者に提供することはありません。</p><br>
    <div class="button-container">
        <a href="{{ url_for('data_blueprint.body') }}" class="button">足指の入力に戻る</a>
        <br>
        <button type="submit" class="button">結果出力画面に進む</button>
        </div>
</body>
</html>