<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr. AI Arthritis Detector</title>
    <link rel="stylesheet" href="{{ url_for('data_blueprint.static', filename='css/ptresult.css') }}">
</head>

<body>
    <h1>現在、あなたが関節リウマチに罹患している可能性は</h1>
    <p>{{ result }}%です。</p>
    <div class="button-container">
        <a href="{{ url_for('auth_blueprint.login_success') }}" class="button">ログイン成功画面に戻る</a>
        <a href="{{ url_for('data_blueprint.scoring') }}" class="button">スコアリングへ進む</a>
    </div>
</body>
