<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('data_blueprint.static', filename='css/scoring.css') }}">
    <title>Scoring_System</title>
</head>
<body>
    <h1>ACR/EULAR診断基準</h1>
    <ul>
        <li>Total Score: {{ total_score }}</li>
        <li>Joint Score: {{ joint_score }}</li>
        <li>Inflammation Score: {{ inflammation_score }}</li>
        <li>Immunology Score: {{ immunology_score }}</li>
    </ul>
    <div class="button-container">
        <a href="{{ url_for('auth_blueprint.login_success') }}" class="button">ログイン成功画面に戻る</a>
    </div>
</body>
</html>
