<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>写真アップロードの選択</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>写真アップロードの選択</h1>
    </header>
    <main>
        <button onclick="location.href='{{ url_for('data_blueprint.take_right_photo') }}'">新たに写真を撮影する</button>
        <button onclick="location.href='{{ url_for('data_blueprint.upload_existing') }}'">既存の写真をアップロードする</button>
</body>
</html>
