<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>既存の写真をアップロード</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>既存の写真をアップロード</h1>
    </header>
    <main>
        <form action="{{ url_for('data_blueprint.submit_photos') }}" method="post" enctype="multipart/form-data">
            <section>
                <label for="right_hand">右手の写真を選択:</label>
                <input type="file" id="right_hand" name="right_hand" accept="image/*" required><br>
            </section>
            <section>
                <label for="left_hand">左手の写真を選択:</label>
                <input type="file" id="left_hand" name="left_hand" accept="image/*" required><br>
            </section>
            <section>
                <button type="submit">写真をアップロードする</button>
            </section>
        </form>
    </main>
</body>
</html>
